
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
        }
        h1 {
            color: #3d3d3d;
        }
        h2 {
            color: #5a5a5a;
        }
        .ingredients, .instructions {
            margin-bottom: 20px;
        }
        ul {
            list-style-type: square;
        }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    
